<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/home.css">
    <style>
    #grafo {
      width: 600px;
      height: 300px;
      border: 1px solid lightgray;
      background-image: url("/img/background.jpg");  
      background-position: center;
    }

    body{
      color: green;
    }

    #btn{
      border-color: green;
      background-color: transparent;
      color: green;

    }
    #btn:hover{
      cursor: pointer;
      background-color: green;
      color: black;
    }
  </style>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis-network.min.js"></script>
  
</head>
<body>

    {{{body}}}
</body>
</html>