<div id="grafo"></div>
<form action="/buscapeso" method="post" id="formulario">
    <br><label for="">Selecione o ponto de partida</label>
    <select name="inicio" id="inicio">
        <option value="GOODSPRINGS">GOODSPRINGS</option>
        <option value="SLOAN">SLOAN</option>
        <option value="FREESIDE">FREESIDE</option>
        <option value="NEW VEGAS">NEW VEGAS</option>
        <option value="PRIMM">PRIMM</option>
        <option value="NOVAC">NOVAC</option>
        <option value="BOULDER CITY">BOULDER CITY</option>
        <option value="CAMP MCCARRAN">CAMP MCCARRAN</option>
        <option value="NELLYS AIR FORCE BASE">NELLYS AIR FORCE BASE</option>
        <option value="COTTONWOOD COVE">COTTONWOOD COVE</option>
        <option value="JACOBSTOWN">JACOBSTOWN</option>
        <option value="HOOVER DAM">HOOVER DAM</option>
        <option value="BLACK MOUNTAIN">BLACK MOUNTAIN</option>
        <option value="FORLORN HOPE">FORLORN HOPE</option>
        <option value="THE STRIP">THE STRIP</option>
        <option value="WESTSIDE">WESTSIDE</option>
        <option value="VAULT 21">VAULT 21</option>
        <option value="VAULT 22">VAULT 22</option>
        <option value="SEARCHLIGHT">SEARCHLIGHT</option>
    </select>
    <br>
    <br>
    <label for="">Selecione o ponto de destino</label>
    <select name="fim" id="fim">
        <option value="GOODSPRINGS">GOODSPRINGS</option>
        <option value="SLOAN">SLOAN</option>
        <option value="FREESIDE">FREESIDE</option>
        <option value="NEW VEGAS">NEW VEGAS</option>
        <option value="PRIMM">PRIMM</option>
        <option value="NOVAC">NOVAC</option>
        <option value="BOULDER CITY">BOULDER CITY</option>
        <option value="CAMP MCCARRAN">CAMP MCCARRAN</option>
        <option value="NELLYS AIR FORCE BASE">NELLYS AIR FORCE BASE</option>
        <option value="COTTONWOOD COVE">COTTONWOOD COVE</option>
        <option value="JACOBSTOWN">JACOBSTOWN</option>
        <option value="HOOVER DAM">HOOVER DAM</option>
        <option value="BLACK MOUNTAIN">BLACK MOUNTAIN</option>
        <option value="FORLORN HOPE">FORLORN HOPE</option>
        <option value="THE STRIP">THE STRIP</option>
        <option value="WESTSIDE">WESTSIDE</option>
        <option value="VAULT 21">VAULT 21</option>
        <option value="VAULT 22">VAULT 22</option>
        <option value="SEARCHLIGHT">SEARCHLIGHT</option>
    </select>
    <br>
    <br>
    <input type="submit" value="Achar Rota" id="btn">
  </form>

  <h1>Rotas Encontradas</h1>
  {{rotas}}
<script src="scripts/ScriptPeso.js"> </script>