<div id="grafo"></div>

  <form action="/busca" method="post" id="formulario">
    <label for="">Selecione o ponto de partida</label>
    <select name="inicio" id="inicio">
        <option value="GOODSPRINGS">GOODSPRINGS</option>
        <option value="SLOAN">SLOAN</option>
        <option value="FREESIDE">FREESIDE</option>
        <option value="NEW VEGAS">NEW VEGAS</option>
        <option value="PRIMM">PRIMM</option>
        <option value="NIPTON">NIPTON</option>
        <option value="NOVAC">NOVAC</option>
        <option value="BOULDER CITY">BOULDER CITY</option>
    </select>
    <br>
    <br>
    <label for="">Selecione o ponto de destino</label>
    <select name="fim" id="fim">
        <option value="GOODSPRINGS">GOODSPRINGS</option>
        <option value="SLOAN">SLOAN</option>
        <option value="FREESIDE">FREESIDE</option>
        <option value="NEW VEGAS">NEW VEGAS</option>
        <option value="PRIMM">PRIMM</option>
        <option value="NIPTON">NIPTON</option>
        <option value="NOVAC">NOVAC</option>
        <option value="BOULDER CITY">BOULDER CITY</option>
    </select><br>
    <input type="radio" id="buscaamplitude" name="metodo" value="amplitude">
    <label for="buscaamplitude">Busca Amplitude</label><br>
    <input type="radio" id="buscaprofundidade" name="metodo" value="profundidade">
    <label for="buscaprofundidade">Busca Profundidade</label><br>
    <input type="radio" id="bidirecional" name="metodo" value="bidirecional">
    <label for="bidirecional">Busca Bidirecional</label><br>
    <input type="submit" value="Achar Rota">
  </form>
  <div id="resultado"></div>

  <script src="scripts/Script.js">   
    // Definindo o grafo de maneira gráfic
    </script>
<h1>Rotas Encontradas</h1>
    {{rotas}}