<div id="grafo"></div>
<form action="/buscapeso" method="post" id="formulario">
    <br><label for="">Selecione o ponto de partida</label>
    <select id="inicio" name="inicio">
        <option value="ARAD">ARAD</option>
        <option value="BUCARESTE">BUCARESTE</option>
        <option value="CRAIOVA">CRAIOVA</option>
        <option value="DOBRETA">DOBRETA</option>
        <option value="EFORIE">EFORIE</option>
        <option value="FAGARAS">FAGARAS</option>
        <option value="GIURGIU">GIURGIU</option>
        <option value="HIRSOVA">HIRSOVA</option>
        <option value="IASI">IASI</option>
        <option value="LUGOJ">LUGOJ</option>
        <option value="MEHADIA">MEHADIA</option>
        <option value="NEAMT">NEAMT</option>
        <option value="ORADEA">ORADEA</option>
        <option value="PITESTI">PITESTI</option>
        <option value="RIMINCU VILCEA">RIMINCU VILCEA</option>
        <option value="SIBIU">SIBIU</option>
        <option value="TIMISOARA">TIMISOARA</option>
        <option value="URZICENI">URZICENI</option>
        <option value="VASLUI">VASLUI</option>
        <option value="ZERIND">ZERIND</option>
    </select>
    <br>
    <br>
    <label for="">Selecione o ponto de destino</label>
    <select id="fim" name="fim">
        <option value="ARAD">ARAD</option>
        <option value="BUCARESTE">BUCARESTE</option>
        <option value="CRAIOVA">CRAIOVA</option>
        <option value="DOBRETA">DOBRETA</option>
        <option value="EFORIE">EFORIE</option>
        <option value="FAGARAS">FAGARAS</option>
        <option value="GIURGIU">GIURGIU</option>
        <option value="HIRSOVA">HIRSOVA</option>
        <option value="IASI">IASI</option>
        <option value="LUGOJ">LUGOJ</option>
        <option value="MEHADIA">MEHADIA</option>
        <option value="NEAMT">NEAMT</option>
        <option value="ORADEA">ORADEA</option>
        <option value="PITESTI">PITESTI</option>
        <option value="RIMINCU VILCEA">RIMINCU VILCEA</option>
        <option value="SIBIU">SIBIU</option>
        <option value="TIMISOARA">TIMISOARA</option>
        <option value="URZICENI">URZICENI</option>
        <option value="VASLUI">VASLUI</option>
        <option value="ZERIND">ZERIND</option>
    </select>
    <br>

    <input type="radio" id="buscaamplitude" name="metodo" value="custoUniforme">
    <label for="buscaamplitude">Custo Uniforme</label><br>
    <input type="radio" id="buscaprofundidade" name="metodo" value="greedy">
    <label for="buscaprofundidade">Greedy</label><br>
    <input type="radio" id="bidirecional" name="metodo" value="aestrela">
    <label for="bidirecional">A estrela</label><br>
    <input type="radio" id="pfdlt" name="metodo" value="aiaestrela">
    <label for="pfdlt">Ai_Aestrela</label>  
    <br>
    <input type="submit" value="Achar Rota" id="btn">
  </form>

  <h1>Rotas Encontradas</h1>
  {{rotas}}
<script src="scripts/ScriptPeso.js"> </script>